*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-cont{
    width: 100%;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: 250px;
    border: 1px solid grey;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}